// Part of the pitcher github.com/gruncho/stylestree
//
// http://chir.ag/projects/name-that-color/
//
// Use the above URL to obtain the name of the hexadecimals,
// and please, try to order from higher hex value to lower
// hex value.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>

// basic

$color-white: #fff;
$color-black: #000;
$color-corporative: #f4d300;
$color-gray: #333;
$color-ligth-gray: rgba(0,0,0,.4);

// corporative

$color-gold: #D98B5A;
$color-gray-content: #444;