$font-size-1: 1rem;
$font-size-2: 1rem;
$font-size-3: 1rem;
$font-size-home: 5rem;

.font-size-small {
  font-size: 1.05rem;
  line-height: 1.5rem;
}

.font-size-medium {
  font-size: 1.20rem;
  line-height: 2rem;
}

.font-size-large {
  font-size: 1.20rem;
  line-height: 2rem;
}

.font-size-xxxlarge {
  font-size: 1.20rem;
  line-height: 2rem;
}