/*

Arimo font-weigth:
- regular: 500
- bold: 700;

import: main.scss;

*/

$font-family-playfair: 'Playfair Display', Times new roman, serif;
$font-family-work: 'Arimo', Helvetica, Arial, sans-serif;
