@import "../variables/breakpoints";
@import "../variables/grid";
@import "../variables/transitions";

$header-max-width: $grid;

.header {
  @extend .flash_top;
  
  align-items: center;
  background: white;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: auto;
  padding: 0 5%;
  position: relative;
  width: 100%;
  z-index: 15;
}

.header__section {
  flex: 0 1 calc( 100%/2 );
  padding: 1rem 0;
}

.header__logo-link {
  display: inline-block;
  font-family: $font-family-playfair;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  position: relative;
  text-decoration: none;
  transition: background .1s, color .4s;

  &:hover {
    color: $color-gold;
  }
}

.header__nav {
  text-align: right;
}

.header__nav-link {
  color: $color-gray;
  display: inline-block;
  font-family: $font-family-work;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: color .2s, background .4s;

  &:hover {
    color: $color-gold;
  }
}

.header__nav-link--no {
  opacity: .4;
  text-decoration: line-through;
}

@media #{$breakpoints-large} {
  .header {
    padding: 0 20%;
  }
}