<aside class="related-posts">

  <h3 class="related-posts__subtitle">
    Igual también te interesa...
  </h3>

  <ul class="related-posts__list">
    {% for post in site.related_posts limit:6 %}
      <li class="related-posts__list-li">
        <a href="{{ post.url | prepend: site.baseurl }}" class="related-posts__link">
          <picture class="picture related-posts__picture">
            <img data-object-fit="cover" class="picture__img" alt="{{ post.title }}" title="{{ post.title }}" src='{{post.thumbnail}}'/>
          </picture>
          <p class="related-posts__meta">
            {{ post.categories }}
          </p>
          <h2 class="related-posts__title-post">
            {{ post.title }}
          </h2>      
          <p class="related-posts__author">
            Por {{ post.author }}
          </p>
        </a>
      </li>
    {% endfor %}
  </ul>

</aside>
